swagger: '2.0'
info:
  description: Public REST API for managing IT service invoices and inventory
  version: 1.0.0
  title: Goldfin Intelligent Invoice API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: rhodges@skylineresearch.comm
host: api.goldfin.io
basePath: /api/v1
tags:
  - name: invoice
    description: Invoice Processing Model
schemes:
  - https
securityDefinitions:
  APIKeyHeader:
    type: apiKey
    in: header
    name: vnd-io-goldfin-auth
security:
  - APIKeyHeader: []
paths:
  /login:
    post:
      tags:
        - security
      summary: Login to system
      security: []
      description: Obtain API key using login credentials
      operationId: loginByCredentials
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Login credentials
          required: true
          schema:
            $ref: '#/definitions/LoginCredentials'
      responses:
        '200':
          description: OK
          headers:
            vnd-io-goldfin-auth:
              type: string
              description: >-
                API key, should be submitted on future requests to show
                authorization
        '400':
          description: Tenant creation failed
          schema:
            $ref: '#/definitions/ApiResponse'
  /vendor:
    post:
      tags:
        - vendor
      summary: Create a new vendor
      description: >-
        Upload a new vendor definition.  Vendors are also created automatically
        if a vendor invoice is processed.
      operationId: vendorCreate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Vendor registration request parameters
          required: true
          schema:
            $ref: '#/definitions/VendorParameters'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Vendor'
        '400':
          description: Vendor creation failed
          schema:
            $ref: '#/definitions/ApiResponse'
    get:
      tags:
        - vendor
      summary: List vendors
      description: Return a list of all vendors
      operationId: vendorShowall
      produces:
        - application/json
      responses:
        '200':
          description: Successful query
          schema:
            items:
              $ref: '#/definitions/Vendor'
  '/vendor/{id}':
    get:
      tags:
        - vendor
      summary: Show a single vendor
      description: Return all information relative to a single vendor
      operationId: vendorShow
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Vendor ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/Vendor'
        '404':
          description: Not Found
    put:
      tags:
        - vendor
      summary: Update a vendor
      description: Update vendor description.
      operationId: vendorUpdate
      consumes:
        - application/json
      parameters:
        - name: id
          in: path
          description: Vendor ID
          required: true
          type: string
        - name: body
          in: body
          description: Vendor parameters
          schema:
            $ref: '#/definitions/VendorParameters'
      responses:
        '200':
          description: Successful
        '404':
          description: Not Found
    delete:
      tags:
        - vendor
      summary: Delete a vendor
      description: >-
        Delete a single vendor.  This can only be done if the vendor is not
        attached to invoices or existing inventory.
      operationId: vendorDelete
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: vendor ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
        '400':
          description: Invalid Request
        '404':
          description: Not Found
  /invoice:
    post:
      tags:
        - invoice
      summary: Create a new invoice for logged in tenant
      description: Upload a new invoice and kick off processing
      operationId: invoiceCreate
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: description
          in: formData
          description: A optional description of the invoice
          type: string
        - name: file
          in: formData
          description: Invoice file
          required: true
          type: file
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/InvoiceEnvelope'
        '400':
          description: Invoice creation failed
          schema:
            $ref: '#/definitions/ApiResponse'
    get:
      tags:
        - invoice
      summary: List invoices
      description: Return a list of all invoices
      operationId: invoiceShowAll
      produces:
        - application/json
        - application/xml
        - text/xml
      parameters:
        - name: summary
          in: query
          description: >-
            If true return complete invoice content, otherwise just the Invoice
            fields
          required: false
          default: true
          type: boolean
      responses:
        '200':
          description: Successful query
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoiceEnvelope'
  '/invoice/{id}':
    get:
      tags:
        - invoice
      summary: Show a single invoice
      description: Return all information relative to a single invoice
      operationId: invoiceShow
      produces:
        - application/json
        - application/xml
        - text/xml
      parameters:
        - name: id
          in: path
          description: Invoice ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/InvoiceEnvelope'
        '404':
          description: Not Found
    put:
      tags:
        - invoice
      summary: Update an invoice
      description: Update invoice description and tags. Changes to other fields are ignored
      operationId: invoiceUpdate
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Invoice ID
          required: true
          type: string
        - name: body
          in: body
          description: Invoice descriptor
          schema:
            $ref: '#/definitions/InvoiceEnvelopeParameters'
      responses:
        '200':
          description: Successful
        '404':
          description: Not Found
    delete:
      tags:
        - invoice
      summary: Delete an invoice
      description: Delete a single
      operationId: invoiceDelete
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Invoice ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
        '404':
          description: Not Found
  '/invoice/{id}/process':
    post:
      tags:
        - invoice
      summary: Start invoice processing
      description: >-
        Run background OCR and interpretation on invoice.  The invoice state
        will be set to CREATED before this call returns.
      operationId: invoiceProcess
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Invoice ID
          required: true
          type: string
      responses:
        '202':
          description: Accepted
        '404':
          description: Not Found
  '/invoice/{id}/validate':
    post:
      tags:
        - invoice
      summary: Start invoice validations
      description: Run invoice validations
      operationId: invoiceValidate
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Invoice ID
          required: true
          type: string
      responses:
        '202':
          description: Accepted
        '404':
          description: Not Found
  /host:
    post:
      tags:
        - inventory
      summary: Create a new host inventory entry
      description: Upload a host inventory entry
      operationId: inventoryHostCreate
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: The host definition
          required: true
          schema:
            $ref: '#/definitions/Host'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Host'
        '400':
          description: Host creation failed
          schema:
            $ref: '#/definitions/ApiResponse'
    get:
      tags:
        - inventory
      summary: List host entries
      description: Return a list of all host inventory records
      operationId: inventoryHostShowAll
      produces:
        - application/json
      parameters:
        - name: summary
          in: query
          description: >-
            If true return complete invoice content, otherwise just the Invoice
            fields
          required: false
          default: true
          type: boolean
      responses:
        '200':
          description: Successful query
          schema:
            type: array
            items:
              $ref: '#/definitions/Host'
  '/host/{id}':
    get:
      tags:
        - inventory
      summary: Show a single host inventory record
      description: Return all information relative to a single host
      operationId: invoiceHostShow
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Host ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/Host'
        '404':
          description: Not Found
    delete:
      tags:
        - inventory
      summary: Delete a host inventory record
      description: Delete a host inventory record
      operationId: inventoryHostDelete
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: Host ID
          required: true
          type: string
      responses:
        '200':
          description: Successful
        '404':
          description: Not Found
  /export/invoice:
    get:
      tags:
        - export
      summary: Export invoice data
      description: Export selected invoice data to useful formats
      operationId: exportInvoice
      produces:
        - text/plain
        - application/octet-stream
      parameters:
        - name: outputFormat
          in: query
          description: Output format to generate.  CSV is the only currently allowed value.
          type: string
        - name: timeSlice
          in: query
          description: >-
            Optional field to explode values out by a time unit.  Allowed values
            are DAY, HOUR, MINUTE
          type: string
        - name: filterSpec
          in: query
          description: Predicate list to select invoices.
          type: string
      responses:
        '200':
          description: Successful
        '400':
          description: Invalid request
          schema:
            $ref: '#/definitions/ApiResponse'
definitions:
  LoginCredentials:
    description: Login credentials
    properties:
      user:
        type: string
        description: User name
      password:
        type: string
        description: User password
  InvoiceEnvelope:
    description: Root object for invoice content.
    properties:
      id:
        type: string
        format: uuid
        description: Unique invoice id
      description:
        type: string
        description: A user-provided description of the invoice
      tags:
        type: string
        description: A user-provided list of name-value pairs that describe the invoice
      state:
        description: >-
          The current processing state of the invoice.  The invoice field is
          available once the invoice is interpreted.
        enum:
          - CREATED
          - SCANNED
          - INTERPRETED
      source:
        $ref: '#/definitions/Document'
      ocr:
        $ref: '#/definitions/OcrScan'
      content:
        $ref: '#/definitions/Invoice'
      creationDate:
        type: string
        description: Date invoice record was created
  InvoiceEnvelopeParameters:
    description: User settable invoice parameters
    properties:
      description:
        type: string
        description: A user-provided description of the invoice
      tags:
        type: string
        description: A user-provided list of name-value pairs that describe the invoice
  Vendor:
    description: Vendor description
    properties:
      id:
        type: string
        format: uuid
        description: Unique vendor id
      identifier:
        type: string
        description: Key used to describe vendor for accounting purposes
      name:
        type: string
        description: Vendor display name
      state:
        description: >-
          Current state of the vendor.  Active vendors have current inventory
          and invoices.
        enum:
          - ACTIVE
          - INACTIVE
      creationDate:
        type: string
        description: Date record was created
  VendorParameters:
    description: Parameters used for vendor creation or update requests
    properties:
      identifier:
        type: string
        description: Key used to describe vendor for accounting purposes
      name:
        type: string
        description: Vendor name
      state:
        description: >-
          Current state of the vendor.  Active vendors have current inventory
          and invoices.
        enum:
          - ACTIVE
          - INACTIVE
  Document:
    description: 'A document, for example a PDF file'
    type: object
    properties:
      id:
        type: string
        description: Document ID
      name:
        type: string
        description: Name of the document
      locator:
        type: string
        format: url
        description: URL of the source
      thumbprint:
        type: string
        description: SHA-256 thumbprint of object content
      creationDate:
        type: string
        description: Date invoice record was created
  OcrScan:
    description: OCR scan of a document
    type: object
    properties:
      id:
        type: string
        description: Scan ID
      thumbprint:
        type: string
        description: SHA-256 thumbprint of source document
      locator:
        type: string
        format: url
        description: URL of the scan document
      creationDate:
        type: string
        description: Date scan record was created
  DocumentRegion:
    description: >-
      Location within a document page expressed in page number and pixel region
      coordinates on the page
    type: object
    properties:
      page:
        type: integer
        format: int32
        description: Page number
      left:
        type: integer
        format: int32
        description: Left pixel coordinate
      top:
        type: integer
        format: int32
        description: Top pixel coordinate
      right:
        type: integer
        format: int32
        description: Right pixel coordinate
      bottom:
        type: integer
        format: int32
        description: Bottom pixel coordinate
  Invoice:
    description: Invoice content obtained from documentation interpretation
    properties:
      identifier:
        type: string
        description: Invoice identifier
      effectiveDate:
        type: string
        format: date-time
        description: Invoice effective date
      vendor:
        type: string
        description: Vendor name
      subtotalAmount:
        type: number
        description: Invoice subtotal amount
      tax:
        type: number
        description: Invoice tax amount
      totalAmount:
        type: number
        description: Invoice total (subtotal + tax)
      currency:
        type: string
        description: Currency type
      items:
        type: array
        description: Invoice items
        items:
          $ref: '#/definitions/InvoiceItem'
  InvoiceItem:
    description: Common fields for all invoice line items
    type: object
    properties:
      itemId:
        type: string
        description: Invoice item ID if specified
      resourceId:
        type: string
        description: Inventory resource ID
      unitAmount:
        type: number
        description: Cost per unit
      units:
        type: integer
        description: Number of units
      totalAmount:
        type: number
        description: Total cost for all units
      currency:
        type: string
        description: Item currency
      startDate:
        type: string
        format: timestamp
        description: Begining of the time range
      endDate:
        type: string
        format: timestamp
        description: End of the time range
      region:
        $ref: '#/definitions/DocumentRegion'
      inventoryId:
        type: string
        description: Id of an inventory description
      inventoryType:
        type: string
        enum:
          - HOST
  Host:
    description: >-
      A host configuration including CPU, RAM, OS, storage devices, and network
      connections
    properties:
      id:
        type: string
        format: uuid
        description: Unique host descriptor ID
      identifier:
        type: string
        description: Inventory identification key
      vendor:
        type: string
        description: Vendor identification key
      name:
        type: string
        description: The host name
      type:
        type: string
        description: Host type
        enum:
          - DEDICATED
          - CLOUD
      region:
        type: string
        description: >-
          The region where this host runs, e.g., a country or a public cloud
          region
      datacenter:
        type: string
        description: >-
          The datacenter where this host runs, e.g., a physical datacenter or a
          public cloud availability zone
      cpu:
        type: array
        items:
          $ref: '#/definitions/CPU'
      memory:
        type: array
        items:
          $ref: '#/definitions/Memory'
      os:
        $ref: '#/definitions/OperatingSystem'
      storage:
        type: array
        items:
          $ref: '#/definitions/StorageDevice'
      network:
        type: array
        items:
          $ref: '#/definitions/NetworkConnection'
      power:
        type: array
        items:
          $ref: '#/definitions/PowerSupply'
      startDate:
        type: string
        format: timestamp
        description: Begining of the accounting time range for this entry
      duration:
        type: number
        format: timestamp
        description: Length of the accounting time range in seconds
      cost:
        type: number
        description: Cost for this inventory item over the time range
      hourlyCost:
        type: number
        description: Normalized hourly cost of this entity
      dailyCost:
        type: number
        description: Cost of this entity normalized to days
      weeklyCost:
        type: number
        description: Cost of this entity normalized to weeks
      monthlyCost:
        type: number
        description: Cost of this entity normalized to months
      currency:
        type: string
        description: Currency used for cost data
  CPU:
    description: CPU description
    properties:
      model:
        type: string
        description: CPU model name
      manufacturer:
        type: string
        description: CPU manufacturer
      cores:
        type: integer
        format: int32
        description: Number of cores
  Memory:
    description: Memory allocation description
    properties:
      capacity:
        type: integer
        format: int64
        description: Memory capacity in bytes
  OperatingSystem:
    description: Operating system information
    properties:
      name:
        type: string
        description: 'OS major version e.g., Linux'
      distribution:
        type: string
        description: 'Distribution, e.g, Debian or Ubuntu'
      majorVersion:
        type: string
        description: 'OS major version e.g., ''Waxing Wombat'' or 10'
      minorVersion:
        type: string
        description: 'OS minor version e.g., ''0'''
  StorageDevice:
    description: A storage device such as SSD or HD
    properties:
      name:
        type: string
        description: Device name
      capacity:
        type: integer
        format: int64
        description: Capacity in bytes
      storageType:
        type: string
        description: Storage type
        enum:
          - SSD
          - HD
      model:
        type: string
        description: Device model name
      manufacturer:
        type: string
        description: Device manufacturer
      interfaceType:
        type: string
        description: Storage interface type
        enum:
          - SATA-2
          - SATA-3
          - OTHER
      raidType:
        type: string
        description: RAID type
        enum:
          - NONE
          - RAID1
          - RAID5
          - RAID10
          - OTHER
  NetworkConnection:
    description: A network connection
    properties:
      name:
        type: string
        description: Network connection name
      speed:
        type: integer
        format: int64
        description: Speed in bytes per second
      model:
        type: string
        description: Device model name
      manufacturer:
        type: string
        description: Device manufacturer
      mac:
        type: string
        description: MAC address
      ipv4Address:
        type: string
        description: IPv4 address
  PowerSupply:
    description: A power supply
    properties:
      watts:
        type: integer
        format: int32
        description: Available power
      model:
        type: string
        description: Device model name
      manufacturer:
        type: string
        description: Device manufacturer
  Tag:
    type: object
    properties:
      name:
        type: string
      value:
        type: string
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      type:
        type: string
      message:
        type: string
externalDocs:
  description: Find out more about Goldfin.io
  url: 'https://goldfin.io'
