<clr-modal [(clrModalOpen)]="show" [clrModalClosable]=false>
    <h3 class="modal-title">File Upload</h3>
    <div class="modal-body">
        <p>Select one or more files to upload</p>
        <form #uploadForm="ngForm" class="form" (ngSubmit)="onSubmit(); uploadForm.reset()">
            <section class="form-block">
                <div class="form-group">
                    <label for="description">File</label>
                    <input type="file" id="files" multiple
                           (change)="onFileChange($event)"
                           name="files">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description"
                           [(ngModel)]="description"
                           name="description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline">
                        Upload
                    </button>
                    <button type="button" class="btn btn-outline" 
                        (click)="onCancel(); uploadForm.reset()">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorMessage">
                  <div class="alert alert-danger">
                    <div class="alert-items">
                      <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                          <clr-icon class="alert-icon" 
                            shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">{{errorMessage}}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
        </form>
    </div>
</clr-modal>
